# Dependencies
node_modules/

# Production Build
dist/
dist-ssr/

# Environment Files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Files
*.local

# ESLint
.eslintcache

# Test Coverage
coverage/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Firebase
.firebase/

# OS Files
.DS_Store
Thumbs.db

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?